<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Petrol_Ofisi1.Properties.Settings.Benzin_istasyonuConnectionString"
            connectionString="Data Source=LAPTOP-34D9I3MG\SQLEXPRESS;Initial Catalog=Benzin_istasyonu;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>